<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectOfApps_A.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ProjectOfApps_B.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94DC6B871DABE9CB007469E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94DC6B9E1DABE9CC007469E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94DC6BA91DABE9CC007469E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94DC6BBC1DABEB83007469E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
